.about-section {
  max-width: 1600px;
  width: 100%;
  min-height: 646px;
  padding: 50px 200px 120px;
  background-color: #1A0B2E;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 80px;
}

.about-info {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 9.3rem;

}
.about-info h2 {
  font-size: 3rem;
font-weight: 700;
line-height: 58px;
color: #FFFFFF;
margin-bottom: 1rem;

}

.about-info p {
  font-size: 16px;
  line-height: 1.7;
  color: #cfc6dd;
  opacity: 0.8;
}

.about-sub {
    padding-bottom : 5rem;
  border-bottom: 1px solid #412567;
}

.about-info .about-sub {
  margin-top: 12px;
  font-size: 14px;
  color: #a89cc8;
}

.about-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.stat h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00ff88;
  margin-bottom: 6px;
}

.stat span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #b7accf;
}


@media screen and (max-width: 576px) {

  .about-section {
    padding: 1.25rem 2.5rem; 
    min-height: auto;        
    row-gap: 3.1rem;           
  }

  .about-info {
    margin-top: 4rem;        
  }

  .about-info h2 {
    font-size: 2rem;         
    line-height: 40px;
    margin-bottom: 0.5rem;
  }

  .about-info p {
    font-size: .9rem;         
    line-height: 20px;
    max-width: 100%;         
  }

  .about-info .about-sub {
    font-size: 0.75rem;         
    margin-top: 0.5rem;
    padding-bottom: 3rem;
  }

  .about-stats {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;                  
  }

  .stat h3 {
    font-size: 1.5rem;            
  }

  .stat span {
    font-size: 10px;            
  }
}
