* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.hero-bg {
  width: 100%;
  background: url("../assets/hero-bg.png") no-repeat center top / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.hero-design {
  position: relative;
  width: clamp(220px, 22vw, 350px);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.hero-circle {
  width: 100%;
  height: auto;
}

.microphone {
  position: absolute;
  width: clamp(90px, 8vw, 150px);
}

.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero-content-info h3 {
  font-family: "Inter", sans-serif;
  font-size: clamp(36px, 6vw, 60px);
  font-weight: 800;
  line-height: 73px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
}


.hero-content-info p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 400;
  line-height: clamp(18px, 1.5vw, 19px);
  letter-spacing: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  max-width: 600px;
}


.hero-content-button {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}



.hero-content-button .subscribe {
  background-color: #412567;
  color: #ffffff;
}
