.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12.5rem;
    background-color: #412567;
    width: 100%;
    height : 5.75rem;
    background: #1A0B2E;
    border-bottom: 1px solid #412567;

}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    gap : 2rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

#logo-color-start {
    color : #FFFFFF;
}

#logo-color-end {
    color : #FB09B4;
}
