.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12.5rem;
    background-color: #412567;
    width: 100%;
    height : 5.75rem;
    background: #1A0B2E;
    border-bottom: 1px solid #412567;
    position: relative;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    gap : 2rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}



@media screen and (max-width: 576px) {

  .navbar {
    padding: 1rem 1.25rem;
    height: auto;
  }

  .nav-links,
  .gradient-btn {
    display: none;
  }

  .navbar::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-image: url("../assets/hamburger-menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .logo h1 {
    font-size: 2.5rem;
  }
}
