*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-btn {
    height: 2.75rem;
    padding: 0.75rem 1rem;

    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;

    border: none;
    border-radius: 999px;
    cursor: pointer;

    background: linear-gradient(
        45deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );

    position: relative;
    z-index: 1;
    overflow: visible;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        opacity 0.3s ease;
}

.gradient-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    box-shadow: 0 0 0 0 rgba(251, 9, 180, 0.6);
    animation: pulse 2s infinite;

    z-index: -1;
}

.gradient-btn:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 30px rgba(145, 0, 248, 0.35);
    opacity: 0.95;
}

.gradient-btn:active {
    transform: scale(0.97);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 9, 180, 0.6);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(251, 9, 180, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(251, 9, 180, 0);
    }
}

header {
    height : 760px;
    display: flex;
    flex-direction: column;
}
