*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-btn {
    height: 2.75rem;
    padding: 0.75rem 1rem;

    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;

    border: none;
    border-radius: 999px;
    cursor: pointer;

    background: linear-gradient(
        45deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );

    position: relative;
    z-index: 1;
    overflow: visible;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        opacity 0.3s ease;
}

.gradient-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    box-shadow: 0 0 0 0 rgba(251, 9, 180, 0.6);
    animation: pulse 2s infinite;

    z-index: -1;
}

.gradient-btn:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 30px rgba(145, 0, 248, 0.35);
    opacity: 0.95;
}

.gradient-btn:active {
    transform: scale(0.97);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 9, 180, 0.6);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(251, 9, 180, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(251, 9, 180, 0);
    }
}

header {
    /* height : 760px; */
    height: auto;
    display: flex;
    flex-direction: column;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 20px;

  background-color: transparent;
  border: 2px solid #2dff9b;
  border-radius: 999px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #2dff9b;

  cursor: pointer;
  transition: all 0.25s ease;
}

.subscribe-btn:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 30px rgba(145, 0, 248, 0.35);
    opacity: 0.95;
}

.subscribe-btn:active {
    transform: scale(0.97);
}

.new-badge {
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  border: none;
  background: #00FF88;
  color: #003d1f;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}